[Unit]
Description=Inventec bt2545 Platform modules
After=local-fs.target
Before=pmon.service

[Service]
Type=oneshot
ExecStart=-/etc/init.d/platform-modules-bt2545 start
ExecStop=-/etc/init.d/platform-modules-bt2545 stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
